<%= form_for @partner, :html => {:class => 'form-horizontal'} do |f| %>


    <% if @partner.errors.any? %>
        <div class="alert alert-danger" id="error_explanation">
          <h4><%= t 'messages.error.validation', :default => "Validation errors:" %></h4>
          <ul>
            <% @partner.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :governorate, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :governorate, (option_values 'governorates') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :region, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :region, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :partnership_start_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :partnership_start_date, "data-behaviour" => 'datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :status, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :status, (option_values 'statuses') %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  partners_path, :class => 'btn' %>
    </div>
<% end %>
