<%= form_for(@partner) do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% @partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :governante %><br>
    <%= f.select :governante, Settings.governantes %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.select :region, Settings.regions %>
  </div>
  <div class="field">
    <%= f.label :partnership_start_date %><br>
    <%#= f.date_select :partnership_start_date %>
    <%= f.text_field :partnership_start_date, "data-behaviour" => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, Settings.statuses %>
  </div>
  <div class="field">
    <%= f.label :osra_id, "Osra id" %><br>
    <%= f.number_field :osra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
