<h1>Listing partners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Governante</th>
      <th>Region</th>
      <th>Partnership start date</th>
      <th>Status</th>
      <th>Osra</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.name %></td>
        <td><%= partner.governante %></td>
        <td><%= partner.region %></td>
        <td><%= partner.partnership_start_date %></td>
        <td><%= partner.status %></td>
        <td><%= partner.osra_id %></td>
        <td><%= link_to 'Show', partner %></td>
        <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
        <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner', new_partner_path %>
