<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>Governante:</strong>
  <%= @partner.governante %>
</p>

<p>
  <strong>Region:</strong>
  <%= @partner.region %>
</p>

<p>
  <strong>Partnership start date:</strong>
  <%= @partner.partnership_start_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @partner.status %>
</p>

<p>
  <strong>Osra:</strong>
  <%= @partner.osra_id %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
