<%- model_class = Partner -%>
<div class="page-header">
	<h1><%= t '.title', :default => [:'helpers.titles.upload', 'Upload'], :model => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
	<dt>
		<strong><%= model_class.human_attribute_name(:osra_id) %>:</strong>
	</dt>
	<dd>
		<%= @partner.osra_id %>
	</dd>
</dl>

<%= form_for @partner, :html => {:multipart => true} do |f| %>
  
  
  <p>
    <%= f.file_field :list %>
  </p>
  <p><%= f.submit %></p>
<% end %>

