<%= form_for @sponsor, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, Settings.statuses %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :type, Settings.sponsor_type %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :organization_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :organization_id, Organization.all.map{|o| [o.name, o.id]}, :include_blank => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :gender, Settings.gender %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :address, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :country, Settings.countries %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :partnership_start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :partnership_start_date, "data-behaviour" => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :additional_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :additional_info, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :osra_id, "Osra id", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :osra_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sponsors_path, :class => 'btn' %>
  </div>
<% end %>
