<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :partnership_start_date %><br>
    <%#= f.date_select :partnership_start_date %>
    <%= f.text_field :partnership_start_date, "data-behaviour" => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact_1 %><br>
    <%= f.text_field :contact_1 %>
  </div>
  <div class="field">
    <%= f.label :contact_2 %><br>
    <%= f.text_field :contact_2 %>
  </div>
  <div class="field">
    <%= f.label :additional_info %><br>
    <%= f.text_area :additional_info %>
  </div>
  <div class="field">
    <%= f.label :osra_id %><br>
    <%= f.number_field :osra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
