<%= form_for @orphan, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :health_status, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :health_status, :class => 'text_field' %>
      </div>
    </div>

    <hr>
    <h4>Parents' Information:</h4>

    <div class="control-group">
      <%= f.label :father_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :father_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :father_is_martyr, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :father_is_martyr, (option_values 'father_is_martyr') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :father_occupation, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :father_occupation, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :father_place_of_death, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :father_place_of_death, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :father_cause_of_death, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :father_cause_of_death, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :father_date_of_death, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :father_date_of_death, "data-behaviour" => 'datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :mother_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mother_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :mother_alive, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :mother_alive %>
      </div>
    </div>

    <hr>
    <h4>Orphan Information:</h4>

    <div class="control-group">
      <%= f.label :date_of_birth, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date_of_birth, "data-behaviour" => 'datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :gender, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :gender, (option_values 'genders') %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :schooling_status, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :schooling_status, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :goes_to_school, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :goes_to_school, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :guardian_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :guardian_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :guardian_relationship, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :guardian_relationship, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :guardian_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :guardian_id, :class => 'text_field' %>
      </div>
    </div>

    <hr>
    <h4>Original Address:</h4>


    <div class="control-group">
      <%= f.label :original_address_gov, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :original_address_gov, (option_values 'governorates') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :original_address_city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :original_address_city, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :original_address_neighborhood, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :original_address_neighborhood, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :original_address_street, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :original_address_street, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :original_address_details, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :original_address_details, :class => 'text_field' %>
      </div>
    </div>
    <hr>
    <h4>Current Address:</h4>

    <div class="control-group">
      <%= f.label :current_address_gov, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :current_address_gov, (option_values 'governorates') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_address_city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :current_address_city, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_address_neighborhood, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :current_address_neighborhood, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_address_street, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :current_address_street, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_address_details, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :current_address_details, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :contact_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :contact_number, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :alt_contact_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :alt_contact_number, :class => 'text_field' %>
      </div>
    </div>

    <hr>
    <h4>Additional Information:</h4>


    <div class="control-group">
      <%= f.label :sponsored_by_another_org, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :sponsored_by_another_org, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :another_org_sponsorship_details, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :another_org_sponsorship_details, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :minor_siblings_count, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :minor_siblings_count, :type => 'number', :min => 0 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :sponsored_minor_siblings_count, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :sponsored_minor_siblings_count, :type => 'number', :min => 0 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :comments, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :comments, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  orphans_path, :class => 'btn' %>
    </div>
<% end %>
