<% model_class = Orphan %>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:father_name) %></th>
    <th><%= model_class.human_attribute_name(:father_is_martyr) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>

    <th><%= model_class.human_attribute_name(:mother_name) %></th>
    <th><%= model_class.human_attribute_name(:mother_alive) %></th>
    <th><%= model_class.human_attribute_name(:gender) %></th>
    <th><%= model_class.human_attribute_name(:date_of_birth) %></th>

    <th><%= model_class.human_attribute_name(:original_address_gov) %></th>
    <th><%= model_class.human_attribute_name(:original_address_city) %></th>

    <th><%= model_class.human_attribute_name(:current_address_gov) %></th>
    <th><%= model_class.human_attribute_name(:current_address_city) %></th>

    <th><%= model_class.human_attribute_name(:contact_number) %></th>

    <th><%= model_class.human_attribute_name(:sponsored_by_another_org) %></th>

  </tr>
  </thead>
  <tbody>
  <% @orphans.each do |orphan| %>
      <tr>
        <td><%= link_to orphan.osra_id, orphan_path(orphan) %></td>
        <td><%= orphan.name %></td>
        <td><%= orphan.father_name %></td>
        <td><%= orphan.father_is_martyr %></td>
        <td><%= t_option 'statuses', orphan.status %></td>

        <td><%= orphan.mother_name %></td>
        <td><%= orphan.mother_alive %></td>
        <td><%= orphan.gender %></td>
        <td><%= orphan.date_of_birth %></td>

        <td><%= t_option 'governorates', orphan.original_address_gov %></td>
        <td><%= orphan.original_address_city %></td>

        <td><%= t_option 'governorates', orphan.current_address_gov %></td>
        <td><%= orphan.current_address_city %></td>

        <td><%= orphan.contact_number %></td>

        <td><%= orphan.sponsored_by_another_org %></td>

      </tr>
  <% end %>
  </tbody>
</table>
