<%- model_class = Orphan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @orphan.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_name) %>:</strong></dt>
  <dd><%= @orphan.father_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_is_martyr) %>:</strong></dt>
  <dd><%= @orphan.father_is_martyr %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_occupation) %>:</strong></dt>
  <dd><%= @orphan.father_occupation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_place_of_death) %>:</strong></dt>
  <dd><%= @orphan.father_place_of_death %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_cause_of_death) %>:</strong></dt>
  <dd><%= @orphan.father_cause_of_death %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_date_of_death) %>:</strong></dt>
  <dd><%= @orphan.father_date_of_death %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mother_name) %>:</strong></dt>
  <dd><%= @orphan.mother_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mother_alive) %>:</strong></dt>
  <dd><%= @orphan.mother_alive %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @orphan.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:health_status) %>:</strong></dt>
  <dd><%= @orphan.health_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:schooling_status) %>:</strong></dt>
  <dd><%= @orphan.schooling_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:goes_to_school) %>:</strong></dt>
  <dd><%= @orphan.goes_to_school %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guardian_name) %>:</strong></dt>
  <dd><%= @orphan.guardian_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guardian_relationship) %>:</strong></dt>
  <dd><%= @orphan.guardian_relationship %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guardian_id) %>:</strong></dt>
  <dd><%= @orphan.guardian_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_address_gov) %>:</strong></dt>
  <dd><%= @orphan.original_address_gov %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_address_city) %>:</strong></dt>
  <dd><%= @orphan.original_address_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_address_neighborhood) %>:</strong></dt>
  <dd><%= @orphan.original_address_neighborhood %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_address_street) %>:</strong></dt>
  <dd><%= @orphan.original_address_street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_address_details) %>:</strong></dt>
  <dd><%= @orphan.original_address_details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_address_gov) %>:</strong></dt>
  <dd><%= @orphan.current_address_gov %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_address_city) %>:</strong></dt>
  <dd><%= @orphan.current_address_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_address_neighborhood) %>:</strong></dt>
  <dd><%= @orphan.current_address_neighborhood %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_address_street) %>:</strong></dt>
  <dd><%= @orphan.current_address_street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_address_details) %>:</strong></dt>
  <dd><%= @orphan.current_address_details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_number) %>:</strong></dt>
  <dd><%= @orphan.contact_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alt_contact_number) %>:</strong></dt>
  <dd><%= @orphan.alt_contact_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sponsored_by_another_org) %>:</strong></dt>
  <dd><%= @orphan.sponsored_by_another_org %></dd>
  <dt><strong><%= model_class.human_attribute_name(:another_org_sponsorship_details) %>:</strong></dt>
  <dd><%= @orphan.another_org_sponsorship_details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @orphan.comments %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              orphans_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_orphan_path(@orphan), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              orphan_path(@orphan),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
