<%= form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :country, Settings.countries %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :region, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :region, Settings.regions %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :partnership_start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :partnership_start_date, "data-behaviour" => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, Settings.statuses %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :osra_id, "Osra id", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :osra_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
  </div>
<% end %>
