<h1>Listing orgnizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Region</th>
      <th>Partnership start date</th>
      <th>Status</th>
      <th>Osra</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orgnizations.each do |orgnization| %>
      <tr>
        <td><%= orgnization.name %></td>
        <td><%= orgnization.country %></td>
        <td><%= orgnization.region %></td>
        <td><%= orgnization.partnership_start_date %></td>
        <td><%= orgnization.status %></td>
        <td><%= orgnization.osra_id %></td>
        <td><%= link_to 'Show', orgnization %></td>
        <td><%= link_to 'Edit', edit_orgnization_path(orgnization) %></td>
        <td><%= link_to 'Destroy', orgnization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orgnization', new_orgnization_path %>
