<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orgnization.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @orgnization.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @orgnization.region %>
</p>

<p>
  <strong>Partnership start date:</strong>
  <%= @orgnization.partnership_start_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @orgnization.status %>
</p>

<p>
  <strong>Osra:</strong>
  <%= @orgnization.osra_id %>
</p>

<%= link_to 'Edit', edit_orgnization_path(@orgnization) %> |
<%= link_to 'Back', orgnizations_path %>
